@font-face {
    font-family: 'gobold_bold';
    src: url('./fonts/gobold_bold-webfont.woff2') format('woff2'),
         url('./fonts/gobold_bold-webfont.woff') format('woff');
}
@font-face {
    font-family: 'gobold_light';
    src: url('./fonts/gobold_light-webfont.woff2') format('woff2'),
         url('./fonts/gobold_light-webfont.woff') format('woff');
}
@font-face {
    font-family: 'gobold';
    src: url('./fonts/gobold_regular-webfont.woff2') format('woff2'),
         url('./fonts/gobold_regular-webfont.woff') format('woff');
}
@font-face {
    font-family: 'gobold_thin';
    src: url('./fonts/gobold_thin-webfont.woff2') format('woff2'),
         url('./fonts/gobold_thin-webfont.woff') format('woff');
}
@font-face {
    font-family: 'gobold_uplow';
    src: url('./fonts/gobold_uplow-webfont.woff2') format('woff2'),
         url('./fonts/gobold_uplow-webfont.woff') format('woff');
}
@font-face {
    font-family: 'gobold_lowplus';
    src: url('./fonts/gobold_lowplus-webfont.woff2') format('woff2'),
         url('./fonts/gobold_lowplus-webfont.woff') format('woff');
}
@font-face {
    font-family: 'roboto';
    src: url('./fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('./fonts/roboto-regular-webfont.woff2') format('woff');
}
/* gobold_bold   gobold   gobold_light   gobold_thin   gobold_uplow   gobold_lowplus   roboto */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}
body{
    min-width: 640px;
    min-height: 500px;
}

.container{
    display: grid;
    grid-template-columns: 20% 80%;
    background-image: url(./media/3242971.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.sidebar{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    height: 100vh;
    gap: 15px;
    padding: 15px;
    background-color: #0000008c;
    position: sticky;
    top: 0;
}
.home{
    font-family: gobold_uplow;
    font-size: 35px;
}
.home:hover{
    color: rgb(0, 44, 133);
    cursor: pointer;
    text-shadow:
    0 0 7px rgb(254, 254, 255),
    0 0 10px rgb(62, 122, 241),
    0 0 21px rgb(38, 83, 180),
    0 0 42px rgb(15, 36, 83);
}
.sbProjects{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.sbProjects>p{
    font-family: gobold;
    font-size: 23px;
    cursor: pointer;
}
.sbProjects>p:hover{
    color: rgb(8, 71, 196);
    text-shadow:
    0 0 7px rgb(0, 0, 184),
    0 0 10px rgb(0, 0, 109),
    0 0 21px rgb(0, 0, 100);
}
.sdProjectList{
    font-family: roboto;
    font-size: 15px;
    margin-left: 5px;
    list-style: none;
    max-width: 100%;
}
.sdProjectList>li{
    margin: 3px;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%; 
}
.sdProjectList>li:hover{
    color: rgb(46, 115, 255);
    font-weight: bold;
    cursor: pointer;
    text-wrap: wrap;
}
.sbProjects .sbAddProject{
    font-family: gobold_thin;
    font-size: 14px;
    margin-top: 2px;
}
.spacer{
    flex-grow: 1;
}
.user{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.userPic{
    width: 45px;
    aspect-ratio: 1/1;
    border: 2px solid rgba(255, 255, 255, 0.377);
    border-radius: 50%;
    background-image: url(./media/userPic.jpeg);
    background-size: cover;
}
.userName{
    font-family: gobold_lowplus;
    font-size: 13px;
}
.user:hover{
    cursor: pointer;
}
.user:hover .userName{
    color: rgb(62, 126, 253);
    text-shadow:
    0 0 7px rgb(19, 19, 197),
    0 0 10px rgb(38, 83, 180),
    0 0 21px rgb(5, 34, 97);
}

.content{
    padding: 15px;
    display: grid;
    grid-template-rows: 20% 80%;
    gap: 5px;
}

/* MAINPAGE */
#mainPage header{
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-areas: 
    "title newTask"
    "subtitle newTask";
    align-items: center;
}
#mainPage header h1{
    grid-area: title;
    font-family: gobold_bold;
    font-size: 45px;
}
#mainPage header>h3{
    grid-area: subtitle;
    font-family: gobold_thin;
    font-size: 20px;
    font-weight: lighter;
    color: rgb(181, 181, 182);
}
#mainPage header>.newTask{
    grid-area: newTask;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
    gap: 3px;
    transition: ease 0.4s;
}
#mainPage header>.newTask:hover{
    cursor: pointer;
    scale: 110%;
}
#mainPage header>.newTask>div{
    border: 2px solid rgb(90, 90, 90);
    background-color: rgb(75, 75, 75);
    height: 50px;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-family: roboto;
    font-size: 30px;
    color: rgb(156, 156, 156);
}
#mainPage header>.newTask:hover>div{
    border: 2px solid rgb(0, 32, 136);
    background-color: rgb(7, 6, 102);
    color: rgb(199, 199, 199);
}
#mainPage header>.newTask>p{
    font-family: gobold_thin;
    font-size: 10px;
}
#mainPage header>.newTask:hover>p{
    color: rgb(132, 161, 255);
}

/* MAINPAGE AND SELECTED PROJECT PAGE */
main{
    border-top: 1px solid white;
    padding-top: 10px;
    display: flex;
    justify-content: space-around;
}
main>div{
    background-color: rgba(255, 255, 255, 0.25);
    width: 30%;
    padding: 10px 10px 20px 10px;
    border-radius: 10px;
}   
main>div>p{
    font-family: gobold_lowplus;
    text-align: center;
    font-size: 20px;
}
.list{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.card{
    background-color: white;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 20% 80%;
    transition: ease 0.5s;
    user-select: none;
    cursor: pointer;
}
.card>p{
    color: black;
}
.cardTitle{
    font-family: gobold_thin;
    font-size: 14px;
    padding: 10px 5px;
}
.cardPriority{
    border-radius: 10px 0 0 10px;
}
.card:hover{
    box-shadow: 3px 3px 10px 0 rgb(0, 0, 0);
    scale: 110%;
    cursor: pointer;
}
/* .dragging {
  opacity: 0.5;
}
.dropzone.dragover {
  background-color: purple;
} */


/* ALL PROJECTS PAGE */
#projectsPage header{
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-areas: 
    "title newTask";
    align-items: center;
    padding-bottom: 10px;
}
#projectsPage header h1{
    grid-area: title;
    font-family: gobold_bold;
    font-size: 45px;
}
#projectsPage header>.newProject{
    grid-area: newTask;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
    gap: 3px;
    transition: ease 0.4s;
}
#projectsPage header>.newProject:hover{
    cursor: pointer;
    scale: 110%;
}
#projectsPage header>.newProject>div{
    border: 2px solid rgb(90, 90, 90);
    background-color: rgb(75, 75, 75);
    height: 50px;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-family: roboto;
    font-size: 30px;
    color: rgb(156, 156, 156);
}
#projectsPage header>.newProject:hover>div{
    border: 2px solid rgb(0, 32, 136);
    background-color: rgb(7, 6, 102);
    color: rgb(199, 199, 199);
}
#projectsPage header>.newProject>p{
    font-family: gobold_thin;
    font-size: 10px;
}
#projectsPage header>.newProject:hover>p{
    color: rgb(132, 161, 255);
}
.allProjects{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.projectCard{
    background-color: white;
    border-radius: 10px;
    width: 100%;
    display: grid;
    grid-template-columns: 10% 60% 25%;
    cursor: pointer;
    transition: ease 0.5s;
}
.projectPriority{
    grid-column: 1/2;
    background-color: red;
    border-radius: 10px 0 0 10px;
    height: 100%;
}
.projectTitle{
    grid-column: 2/3;
    color: black;
    font-family: gobold;
    font-size: 15px;
    padding: 10px;
}
.progressDIV{
    grid-column: 3/4;
    display: flex;
    justify-content: center;
    align-items: center;
}
.progressBar{
    width: 100%;
    height: 50%;

    -webkit-appearance: none;
    appearance: none;
    cursor: initial;
    border-radius: 10px;
    background-color: rgb(194, 194, 194);
}

/* WebKit (Chrome, Safari) */
.progressBar::-webkit-progress-bar {
  background-color: #eee;
}

.projectCard:hover{
    box-shadow: 3px 3px 10px 0 rgb(0, 0, 0);
    scale: 105%;
    cursor: pointer;
}


/* SELECTED PROJECT PAGE */
#selectedProjectPage header{
    display: grid;
    grid-template: auto auto auto / 70% 30%;
    grid-template-areas: 
    "title newTask"
    "progressBar newTask"
    "dueDate newTask";
    align-items: center;
    padding-bottom: 10px;
}
#selectedProjectPage .headerTitle{
    position: relative;
    width: fit-content;
    margin-bottom: -2px;
}
#selectedProjectPage header h1{
    grid-area: title;
    font-family: gobold_bold;
    font-size: 45px;
}
#selectedProjectPage header .editProject{
    position: absolute;
    top: -100%;
    font-family: gobold;
    font-size: 15px;
    text-shadow:
    0 0 7px rgb(107, 106, 106),
    0 0 10px rgb(43, 90, 182),
    0 0 21px rgb(25, 57, 128),
    0 0 42px rgb(7, 19, 44);
}
#selectedProjectPage .headerTitle:hover{
    background-color: rgba(0, 0, 0, 0.452);
    cursor: pointer;
}
#selectedProjectPage .headerTitle:hover h1{
    color: rgba(255, 255, 255, 0.418);
}
#selectedProjectPage .headerTitle:hover .editProject{
    top: 0;
    right: 0;
}
#selectedProjectPage header>.newProjectTask{
    grid-area: newTask;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
    gap: 3px;
    transition: ease 0.4s;
}
#selectedProjectPage header>.newProjectTask:hover{
    cursor: pointer;
    scale: 110%;
}
#selectedProjectPage header>.newProjectTask>div{
    border: 2px solid rgb(90, 90, 90);
    background-color: rgb(75, 75, 75);
    height: 60px;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-family: roboto;
    font-size: 35px;
    color: rgb(156, 156, 156);
}
#selectedProjectPage header>.newProjectTask:hover>div{
    border: 2px solid rgb(0, 32, 136);
    background-color: rgb(7, 6, 102);
    color: rgb(199, 199, 199);
}
#selectedProjectPage header>.newProjectTask>p{
    font-family: gobold_thin;
    font-size: 13px;
}
#selectedProjectPage header>.newProjectTask:hover>p{
    color: rgb(132, 161, 255);
}
#selectedProjectPage .projectProgressDIV{
    grid-area: progressBar;
    display: flex;
    align-items: start;
    height: fit-content;
}
.projectProgressBar{
    width: 100%;
    height: 5px;

    -webkit-appearance: none;
    appearance: none;
    cursor: initial;
    border-radius: 10px;
    background-color: rgb(194, 194, 194);
    border: none;
    
}
progress::-moz-progress-bar {
    background-color: rgb(0, 47, 255);
}
/* WebKit (Chrome, Safari) */
progress::-webkit-progress-bar {
  background-color: rgb(194, 194, 194);
}
progress::-webkit-progress-value {
    background-color: rgb(0, 47, 255);
}
.projectDueDate{
    grid-area: dueDate;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-top: 10px;
}
.projectDueDate>p{
    font-family: gobold;
    font-size: 15px;
}
.projectDueDate>.date{
    font-family: gobold_light;
    font-size: 13px;
}


@media (768px < width < 1024px){
    .sidebar{
        gap: 20px;
        padding: 20px;
    }
    .home{
        font-size: 40px;
    }
    .sbProjects>p{
        font-size: 28px;
    }
    .sdProjectList{
        font-size: 17px;
        margin-left: 7px;
    }
    .sdProjectList>li{
        margin: 5px;
    }
    .user{
        gap: 7px;
        justify-content: start;
    }
    .userPic{
        width: 55px;
    }
    .userName{
        font-size: 15px;
    }

    .content{
        padding: 20px;
        gap: 10px;
    }

    /* MAINPAGE */
    #mainPage header h1{
        font-size: 55px;
    }
    #mainPage header>h3{
        font-size: 25px;
    }
    #mainPage header>.newTask{
        gap: 5px;
    }
    #mainPage header>.newTask>div{
        height: 55px;
        font-size: 35px;
    }
    #mainPage header>.newTask>p{
        font-size: 15px;
    }

    /* MAINPAGE AND SELECTED PROJECT PAGE */
    main{
        padding-top: 15px;
    }
    main>div{
        padding: 12px 12px 22px 12px;
        border-radius: 15px;
    }   
    main>div>p{
        font-size: 23px;
    }
    .list{
        gap: 7px;
    }
    .card{
        border-radius: 15px;
    }
    .cardTitle{
        font-size: 16px;
        padding: 15px 10px;
    }


    /* ALL PROJECTS PAGE */
    #projectsPage header{
        padding-bottom: 15px;
    }
    #projectsPage header h1{
        font-size: 55px;
    }
    #projectsPage header>.newProject{
        gap: 5px;
    }
    #projectsPage header>.newProject>div{
        height: 55px;
        font-size: 32px;
    }
    #projectsPage header>.newProject>p{
        font-size: 15px;
    }
    .allProjects{
        gap: 15px;
    }
    .projectCard{
        border-radius: 10px;
    }
    .projectTitle{
        font-size: 17px;
        padding: 15px;
    }
    .progressBar{
        border-radius: 15px;
    }


    /* SELECTED PROJECT PAGE */
    #selectedProjectPage header{
        padding-bottom: 15px;
    }
    #selectedProjectPage header h1{
        font-size: 55px;
    }
    #selectedProjectPage header .editProject{
        font-size: 20px;
    }
    #selectedProjectPage header>.newProjectTask{
        gap: 5px;
    }
    #selectedProjectPage header>.newProjectTask>div{
        height: 65px;
        font-size: 35px;
    }
    #selectedProjectPage header>.newProjectTask>p{
        font-size: 20px;
    }
    .projectProgressBar{
        height: 8px;        
    }
    .projectDueDate{
        gap: 15px;
    }
    .projectDueDate>p{
        font-size: 18px;
    }
    .projectDueDate>.date{
        font-size: 17px;
    }
}
@media (width >= 1024px){
    .home{
        font-size: 45px;
    }
    .sbProjects>p{
        font-size: 32px;
    }
    .sdProjectList{
        font-size: 18px;
        margin-left: 8px;
    }
    .sdProjectList>li{
        margin: 6px;
    }
    .user{
        gap: 10px;
        justify-content: start;
    }
    .userPic{
        width: 60px;
    }
    .userName{
        font-size: 18px;
    }


    /* MAINPAGE */
    #mainPage header h1{
        font-size: 65px;
    }
    #mainPage header>h3{
        font-size: 28px;
    }
    #mainPage header>.newTask>div{
        height: 65px;
        font-size: 40px;
    }
    #mainPage header>.newTask>p{
        font-size: 20px;
    }

    /* MAINPAGE AND SELECTED PROJECT PAGE */
    main{
        padding-top: 20px;
    }
    main>div>p{
        font-size: 26px;
    }
    .cardTitle{
        font-size: 17px;
    }


    /* ALL PROJECTS PAGE */
    #projectsPage header{
        padding-bottom: 15px;
    }
    #projectsPage header h1{
        font-size: 60px;
    }
    #projectsPage header>.newProject>div{
        height: 60px;
        font-size: 35px;
    }
    #projectsPage header>.newProject>p{
        font-size: 19px;
    }
    .projectTitle{
        font-size: 19px;
    }


    /* SELECTED PROJECT PAGE */
    #selectedProjectPage header{
        padding-bottom: 20px;
    }
    #selectedProjectPage header h1{
        font-size: 60px;
    }
    #selectedProjectPage header .editProject{
        font-size: 25px;
    }
    #selectedProjectPage header>.newProjectTask>div{
        height: 70px;
        font-size: 40px;
    }
    #selectedProjectPage header>.newProjectTask>p{
        font-size: 22px;
    }
    .projectProgressBar{
        height: 10px;        
    }
    .projectDueDate{
        gap: 20px;
    }
    .projectDueDate>p{
        font-family: gobold;
        font-size: 23px;
    }
    .projectDueDate>.date{
        font-family: gobold_light;
        font-size: 20px;
    }
}

/* ALL MODALS */
.modal{
    width: 500px;
    height: fit-content;
    max-height: 80%;
    min-width: 480px;
    position: absolute;
    left: 50%;
    top: 50%; 
    transform: translate(-50%, -50%);
    padding: 15px;
    background-color: rgba(0, 6, 22, 0.9);
    border: 3px solid rgba(0, 68, 255, 0.05);
    box-shadow: 0 0 20px 10px rgb(0, 10, 39);
    border-radius: 20px;
    
}
.modal:not([open]) {
  display: none;
}

/* ADD NEW TASK AND NEW PROJECT MODAL */
.add.modal fieldset{
    display: flex;
    flex-direction: column;
    border: none;
    padding: 20px;
    justify-content: center;
    gap: 10px;
}
.add.modal legend{
    width: 100%;
    font-family: gobold_bold;
    font-size: 25px;
    text-align: center;
}
.add.modal fieldset>div{
    display: flex;
    gap: 15px;
}
.add.modal label{
    width: fit-content;
    font-family: gobold_thin;
    font-size: 18px;
    text-wrap: nowrap;
}
.add.modal input, 
.add.modal select,
.add.modal textarea{
    width: 100%;
    padding: 0 5px;
    font-family: roboto;
    font-size: 15px;
    color: black;
    border-radius: 8px;
}
.add.modal option{
    font-family: sans-serif;
    font-size: 15px;
    color: black;
    background-color: white;
}
.add.modal .buttons{
    display: flex;
    justify-content: center;
    gap: 20px;
}
button{
    font-family: gobold;
    font-size: 18px;
    padding: 10px 20px;
    margin-top: 15px;
    border-radius: 10px;
}
button[type="reset"]{
    background-color: rgb(180, 180, 180);
    border: 3px solid rgb(153, 153, 153);
    outline: 2px solid rgb(82, 82, 82);
    color: black;
    text-shadow: 0 0 10px rgb(255, 255, 255);
}
button[type="submit"]{
    background-color: rgb(0, 89, 255);
    border: 3px solid rgb(9, 93, 250);
    outline: 2px solid rgb(2, 46, 128);
    color: rgb(214, 214, 214);
    text-shadow: 
        0 0 5px rgb(0, 2, 5),
        0 0 10px rgb(0, 2, 5);
    
}
button[type="reset"]:hover{
    background-color: rgb(66, 66, 66);
    border: 3px solid rgb(83, 83, 83);
    outline: 2px solid rgb(116, 116, 116);
    font-weight: bold;
    color: white;
    text-shadow: 
        0 0 5px rgb(0, 2, 5),
        0 0 10px rgb(0, 2, 5);
}
button[type="submit"]:hover{
    background-color: rgb(0, 12, 179);
    border: 3px solid rgb(0, 13, 202);
    outline: 2px solid rgb(0, 15, 218);
    font-weight: bold;
    color: white;
    text-shadow: 
        0 0 5px rgb(1, 18, 255),
        0 0 10px rgb(0, 17, 255);
}

/* TASK INFO MODAL*/
#infoTaskModal>.infoContent{
    display: grid;
    grid-template: auto auto auto auto 1fr/ 3fr 2fr 1fr 50px;
    grid-template-areas: 
    "infoTitle infoTitle infoTitle infoTitle"
    "infoProject infoProject infoPriority infoPriority"
    "infoStatus infoStatus infoPriority infoPriority"
    "infoDate infoDate infoPriority infoPriority"
    "infoDescription infoNotes infoNotes deleteTask";
    padding: 10px;
    height: 100%;
}

/* TASK INFO AND PROJECT INFO MODALS */
.info.modal .infoTitle{
    grid-area: infoTitle;
    width: 100%;
    display: flex;
    gap: 5px;
}
.info.modal .infoTitle>h1{
    width: fit-content;
    font-family: gobold_bold;
    font-size: 40px;
    text-shadow:
    0 0 7px rgb(254, 254, 255),
    0 0 10px rgb(62, 122, 241),
    0 0 21px rgb(38, 83, 180),
    0 0 42px rgb(15, 36, 83);
    padding: 2px 5px;
}
.info.modal .infoProject{
    grid-area: infoProject;
    display: flex;
}
.info.modal .infoProject>p{
    width: fit-content;
    font-family: gobold_uplow;
    font-size: 20px;
    text-shadow:
    0 0 7px rgb(146, 146, 255),
    0 0 10px rgb(74, 74, 155),
    0 0 21px rgb(27, 27, 117);
    padding: 2px 10px 2px 5px;
}
.infoStatus{
    grid-area:  infoStatus;
    display: flex;
    align-items: center;
    gap: 10px;
}
.info.modal .infoDate{
    grid-area:  infoDate;
    display: flex;
    align-items: center;
    gap: 10px;
}
#infoTaskModal .infoPriority{
    grid-area: infoPriority;
    display: grid;
    grid-template-rows: 50% 25% 25%;
    width: 100%;
    justify-content: center;
    justify-items: center;
    background-color: rgba(0, 6, 22, 0.6);
    border-radius: 10px;
}
.infoPriority>svg{
    height: 100%;
}
.info.modal .infoPriority>.infoData{
    padding: 1px 5px;
    background-color: transparent;
    text-align: center;
}
.info.modal .infoDescription{
    grid-area: infoDescription;
    width: 100%;
    display: grid;
    grid-template: min-content auto / auto 20px;
    grid-template-areas: 
    "label label"
    "data edit";
}
.info.modal .infoDescription>.infoData,
.info.modal .infoNote>.infoData{
    grid-area: data;
}
.info.modal .infoDescription>.infoLabel,
.info.modal .infoNote>.infoLabel{
    grid-area: label;
}
.info.modal .infoDescription>.editIcon,
.info.modal .infoNote>.editIcon{
    grid-area: edit;
}
.info.modal .infoNote{
    grid-area: infoNotes;
    width: 100%;
    display: grid;
    grid-template: min-content auto / auto 20px;
    grid-template-areas: 
    "label label"
    "data edit";
}
.info.modal .infoLabel{
    font-family: gobold_thin;
    font-size: 18px;
    text-shadow:
    0 0 7px rgb(0, 0, 184),
    0 0 10px rgb(0, 0, 109),
    0 0 21px rgb(0, 0, 100);
    text-wrap: nowrap;
}
.info.modal .infoData{
    font-family: roboto;
    font-size: 15px;
    background-color: rgba(0, 6, 22, 0.6);
    border-radius: 10px;
    height: fit-content;
    padding: 10px;
    display: flex;
    gap: 5px;
}
.editIcon{
    background-image: url(./media/edit.svg);
    background-size: cover;
    width: 18px;
    height: 18px;
    display: none;
}
.infoTitle:hover >.editIcon,
.infoProject:hover >.editIcon,
.infoData:hover >.editIcon,
.infoDescription:hover >.editIcon,
.info.modal .infoNote:hover >.editIcon{
    display: inline;
}
.editIcon:hover{
    cursor: pointer;
    background-color: rgba(0, 47, 255, 0.2);
}
.deleteTaskDIV{
    grid-area: deleteTask;
    align-self: flex-end;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.deleteTask{
    width: 70%;
}
.deleteTask path{
    stroke: white;
}
.deleteTaskDIV:hover path{
    stroke: red;
    cursor: pointer;
}
.deleteTaskDIV .deleteText{
    font-size: 12px;
    font-family: gobold;
    text-align: center;
    opacity: 0;
}
.deleteTaskDIV:hover .deleteText{
    opacity: 100%;
    cursor: pointer;
}

/* INFO MODALS WITH EDITS */
.editInfo.infoTitle{
    grid-area: infoTitle;
    width: 100%;
    margin-bottom: 5px;
}
.editInfo.infoTitle>input{
    width: 100%;
    font-family: gobold_bold;
    font-size: 40px;
    padding: 2px 10px 2px 5px;
    border-radius: 10px;
    color: rgb(0, 0, 78);
}
.editInfo.infoProject{
    grid-area: infoProject;
}
.editInfo.infoProject>select{
    width: fit-content;
    font-family: gobold_uplow;
    color: rgb(0, 0, 78);
    font-size: 20px;
    padding: 2px 10px 2px 5px;
}
.editInfo.infoProject>select>option{
    font-family: sans-serif;
    font-size: 18px;
    color: black;
    background-color: white;
}
.editInfo input, 
.editInfo select,
.editInfo textarea{
    width: 100%;
    padding: 0 5px;
    font-family: roboto;
    font-size: 15px;
    color: black;
    border-radius: 8px;
}
.editInfo option{
    font-family: sans-serif;
    font-size: 15px;
    color: black;
    background-color: white;
}
.editInfo.infoDate input{
    margin: 15px 5px;
}
.editInfo.infoPriority select{
    height: fit-content;
    margin-bottom: -20px;
    padding: 0 5px;
}
.editInfo textarea{
    height: 80%;
    margin-top: 5px;
}

/* PROJECT INFO MODAL */
#infoProjectModal>.infoContent{
    display: grid;
    grid-template: auto auto auto 1fr/ 3fr 2fr 1fr 30px;
    grid-template-areas: 
    "infoTitle infoTitle infoTitle infoTitle"
    "infoProgress infoProgress infoProjectPriority infoProjectPriority"
    "infoDate infoDate infoProjectPriority infoProjectPriority"
    "infoDescription infoNotes infoNotes deleteProject";
    padding: 10px;
    height: 100%;
}
#infoProjectModal .infoProgress{
    grid-area: infoProgress;
    display: grid;
    grid-template: min-content auto / 50% 35% 15%;
    grid-template-areas: 
    "infoProgressBar infoProgressBar infoProgressPercentage"
    "infoTotalTasks infoDoneTasks infoDoneTasks";
    gap: 5px;
}
.infoProgressBar{
    grid-area: infoProgressBar;
    width: 100%;
    height: 20px;

    -webkit-appearance: none;
    appearance: none;
    cursor: initial;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.425);
    border: none;
}
#infoProjectModal .infoProgress .infoLabel{
    font-size: 12px;
    text-shadow:
    0 0 7px rgb(2, 2, 199),
    0 0 10px rgb(2, 2, 163),
    0 0 21px rgb(2, 2, 155);
}
#infoProjectModal .infoProgress .infoData{
    font-family: gobold_light;
    font-size: 13px;
    background-color: transparent;
    border-radius: 0;
    height: fit-content;
    width: fit-content;
    padding: 0;
}
#infoProjectModal .infoProgress .infoProgressPercentage{
    grid-area: infoProgressPercentage;
    font-size: 15px;
    height: fit-content;
}
.infoTotalTasks{
    grid-area: infoTotalTasks;
    display: flex;
    align-items: center;
    gap: 10px;
}
.infoDoneTasks{
    grid-area: infoDoneTasks;
    display: flex;
    align-items: center;
    gap: 10px;
}
#infoProjectModal .infoPriority{
    grid-area: infoProjectPriority;
    display: grid;
    grid-template: 40% 30% 30% / auto 20px;
    grid-template-areas: 
    "infoProjectSVG infoProjectSVG"
    "infoProjectData infoProjectData"
    "infoProjectLabel infoProjectLabel";
    width: 100%;
    justify-content: center;
    justify-items: center;
    background-color: rgba(0, 6, 22, 0.6);
    border-radius: 10px;
}
#infoProjectModal .infoPriority>svg{
    grid-area: infoProjectSVG;
}
#infoProjectModal .infoPriority>.infoData{
    grid-area: infoProjectData;
}
#infoProjectModal .infoPriority>.editIcon{
    grid-area: infoProjectEdit;
}
#infoProjectModal .infoPriority>.infoLabel{
    grid-area: infoProjectLabel;
}
#infoProjectModal .infoPriority:hover{
    grid-template-areas: 
    "infoProjectSVG infoProjectSVG"
    "infoProjectData infoProjectEdit"
    "infoProjectLabel infoProjectLabel";
}
#infoProjectModal .infoDate:hover >.editIcon,
#infoProjectModal .infoPriority:hover >.editIcon{
    display: inline;
}
.deleteProjectDIV{
    grid-area: deleteProject;
    align-self: flex-end;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.deleteProject path{
    stroke: white;
}
.deleteProjectDIV:hover path{
    stroke: red;
    cursor: pointer;
}
.deleteProjectDIV .deleteText{
    font-size: 10px;
    font-family: gobold;
    text-align: center;
    opacity: 0;
}
.deleteProjectDIV:hover .deleteText{
    opacity: 100%;
    cursor: pointer;
}

@media (768px < width < 1024px){
    .modal{
        width: 70%;
        max-width: 570px;
        max-height: 90%;
        padding: 20px;
        border-radius: 30px;
    }
    .add.modal legend{
        font-size: 30px;
    }
    .add.modal fieldset>div{
        gap: 20px;
    }
    .add.modal label{
        font-size: 21px;
    }
    .add.modal input, 
    .add.modal select,
    .add.modal textarea{
        padding: 0 8px;
        font-size: 17px;
        border-radius: 10px;
    }
    .add.modal option{
        font-size: 16px;
    }

    .add.modal .buttons{
        gap: 30px;
    }
    button{
        font-size: 20px;
        padding: 10px 25px;
        margin-top: 20px;
        border-radius: 15px;
    }

    .info.modal .infoTitle>h1{
        font-size: 45px;
    }
    .info.modal .infoProject>p{
        font-size: 25px;
    }
    .info.modal .infoDate{
        gap: 15px;
    }
    .info.modal .infoPriority>.infoData{
        padding: 0 0 2px 0;
    }
    .info.modal .infoLabel{
        font-size: 20px;
    }
    .info.modal .infoData{
        font-size: 17px;
    }
    .deleteTaskDIV .deleteText{
        font-size: 15px;
    }


    .editInfo.infoTitle>input{
        font-size: 45px;
    }
    .editInfo.infoProject>select{
        font-size: 25px;
    }
    .editInfo.infoProject>select>option{
        font-size: 19px;
    }
    .editInfo input, 
    .editInfo select,
    .editInfo textarea{
        font-size: 17px;
    }
    .editInfo option{
        font-size: 16px;
    }

    #infoProjectModal .infoProgress .infoLabel{
        font-size: 13px;
    }
    #infoProjectModal .infoProgress .infoData{
        font-size: 15px;
    }
    #infoProjectModal .infoProgress .infoProgressPercentage{
        font-size: 15px;
    }
    .infoTotalTasks{
        gap: 9px;
    }
    .infoDoneTasks{
        gap: 9px;
    }
    .deleteProject{
        width: 35px;
    }
    .deleteProjectDIV .deleteText{
        font-size: 15px;
        font-family: gobold;
        text-align: center;
        opacity: 0;
    }
}
@media (width >= 1024px){
    .modal{
        width: 60%;
        max-width: 750px;
        min-height: 450px;
        max-height: 90%;
        border-radius: 35px;
    }
    .add.modal legend{
        font-size: 35px;
    }
    .add.modal fieldset>div{
        gap: 25px;
    }
    .add.modal label{
        font-size: 25px;
    }
    .add.modal input, 
    .add.modal select,
    .add.modal textarea{
        padding: 0 8px;
        font-size: 18px;
        border-radius: 12px;
    }
    .add.modal option{
        font-size: 17px;
    }

    .add.modal .buttons{
        gap: 35px;
    }
    button{
        font-size: 23px;
        padding: 15px 30px;
        margin-top: 22px;
        border-radius: 18px;
    }

    .info.modal .infoTitle>h1{
        font-size: 50px;
    }
    .info.modal .infoProject>p{
        font-size: 30px;
    }
    .info.modal .infoLabel{
        font-size: 23px;
    }
    .info.modal .infoData{
        font-size: 19px;
    }
    .deleteTaskDIV .deleteText{
        font-size: 16px;
    }

    .editInfo.infoTitle>input{
        font-size: 50px;
    }
    .editInfo.infoProject>select{
        font-size: 30px;
    }
    .editInfo.infoProject>select>option{
        font-size: 22px;
    }
    .editInfo input, 
    .editInfo select,
    .editInfo textarea{
        font-size: 18px;
    }
    .editInfo option{
        font-size: 17px;
    }

    #infoProjectModal .infoProgress .infoLabel{
        font-size: 15px;
    }
    #infoProjectModal .infoProgress .infoData{
        font-size: 18px;
    }
    #infoProjectModal .infoProgress .infoProgressPercentage{
        font-size: 18px;
    }
    .deleteProject{
        width: 40px;
    }
    .deleteProjectDIV .deleteText{
        font-size: 15px;
    }
}

.hide{
    display: none !important;
}